{% extends 'layout.html.twig' %}

{% block title %} Categorias - DevVideos{% endblock %}

{% block content %}

    <h1>Listar Categorias </h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('categoria_nueva') }}" class="btn btn-success"><i class="fas fa-plus"></i> Añadir</a>
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            {% if is_granted('ROLE_ADMIN') %}<th>ID</th>{% endif %}
            <th>IMAGEN</th>
            <th>NOMBRE</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}<td><a href="{{ path('categoria_modificar', {'id': categoria.id}) }}">{{ categoria.id }}</a></td>{% endif %}
                <td><img src="{{ categoria.photo }}" alt="Foto {{ categoria.name }}" class="miniatura_lista"/></td>
                <td>{{ categoria.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}