{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Listar Categorias <a href="{{ path('categoria_nueva') }}" class="btn btn-success"><i class="fas fa-plus"></i> Añadir</a></h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PHOTO</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td><a href="{{ path('categoria_editar', {'id': categoria.id}) }}">{{ categoria.id }}</a></td>
                <td>{{ categoria.name }}</td>
                <td>{{ categoria.photo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}