{% extends 'layout.html.twig' %}

{% block title %} Categorías - DevVideos{% endblock %}

{% block content %}

    <h1>Listar Categorías </h1>


        {% if is_granted('ROLE_ADMIN') %}
            <div class="pnlAccionNueva">
                <a href="{{ path('categoria_nueva') }}" class="btn btn-success"><i class="fas fa-plus"></i> Añadir</a>
                <span class="ayuda"> Crea una nueva categoría para que tus publicadores puedan asignarla a sus videos.</span>
            </div>
        {% endif %}



    {% for categoria in categorias %}
    <div class="panel_categoria">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="id_categoria">
                <a href="{{ path('categoria_modificar', {'id': categoria.id}) }}">{{ categoria.id }}</a>
            </div>
        {% endif %}
        <div class="imagen_categoria">
            <img src="{{ categoria.photo }}" alt="Foto {{ categoria.name }}" class="miniatura_lista"/>
        </div>
        <div class="descripcion_categoria">
            <span class="nombre_categoria">{{ categoria.name }}</span>
        </div>
    </div>
    {% endfor %}
{% endblock %}