{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Listar Guardados</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>USUARIO</th>
            <th>VIDEO</th>
        </tr>
        </thead>
        <tbody>
        {% for item in guardados %}
            <tr>{% if is_granted('ROLE_ADMIN') %}
<td>                        <a href="{{ path('guardado_modificar', {'id': item.id}) }}">{{ item.id }}</a></td>

                        <td>{{ item.usuario }}</td>
                        <td>{{ item.timestamp | date('H:m:s | d/m/Y')}}</td>
                        <td>{{ item.video }}</td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}