{% extends 'layout.html.twig' %}

{% block title %} Archivos - DevVideos {% endblock %}

{% block content %}

    <h1>Listar archivos</h1>

    {% if is_granted('ROLE_PUBLISHER') %}
        <a href="{{ path('archivo_nuevo') }}" class="btn btn-success"><i class="fas fa-plus"></i> Añadir</a>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            {% if is_granted('ROLE_PUBLISHER') %}<th>ID</th>{% endif %}
            <th>FECHA</th>
            <th>ARCHIVO</th>
            <th>VIDEO</th>
        </tr>
        </thead>
        <tbody>
        {% for archivo in archivos %}
            <tr>
                {% if is_granted('ROLE_PUBLISHER') %}<td><a href="{{ path('archivo_modificar', {'id': archivo.id}) }}">{{ archivo.id }}</a></td>{% endif %}
                <td>{{ archivo.date | date('d/m/Y | H:m:s') }}</td>
                <td>{{ archivo.file }}</td>
                <td><img src="{{ archivo.video.miniature }}" alt="Miniatura {{ archivo.video }}" class="miniatura_lista" /> <span class="titulo">{{ archivo.video }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}