{% extends 'layout.html.twig' %}

{% block title %} Archivos - DevVideos {% endblock %}

{% block content %}

    <h1>Listar archivos</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="pnlAccionNueva">
            <a href="{{ path('archivo_nuevo') }}" class="btn btn-success"><i class="fas fa-plus"></i> Añadir</a>
            <span class="ayuda"> Cree un nuevo archivo para asociar a un video.</span>
        </div>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            {% if is_granted('ROLE_ADMIN') %}<th><i class="fas fa-tools"></i></th>{% endif %}
            <th>ARCHIVO</th>
            <th>NOMBRE</th>
            <th>FECHA</th>
            <th>VIDEO</th>
        </tr>
        </thead>
        <tbody>
        {% for archivo in archivos %}
            <tr>
                {% if is_granted('ROLE_ADMIN') %}<td><a href="{{ path('archivo_modificar', {'id': archivo.id}) }}" class="btn btn-warning"><i class="fas fa-tools"></i></a></td>{% endif %}
                <td>{{ archivo.file }}</td>
                <td>{{ archivo.nombre }}</td>
                <td>{{ archivo.date | date('d/m/Y | H:m:s') }}</td>
                <td><span class="titulo">{{ archivo.video }}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}