{% extends 'layout.html.twig' %}

{% block title %} {{ usuario.login }} - DevVideos {% endblock %}

{% block content %}
    <div class="cabecera_canal">
        <div class="panel_avatar_canal {% if usuario.publisher %} avatar_publisher {% endif %}">
            <img src="{{ usuario.avatar}}" alt="Avatar {{ usuario.login }}" class="avatar_canal_photo " />
        </div>
        <div class="informacion_general">
            <h1>{{ usuario.login }}</h1>
            <span class="canal_nombre"><i class="fas fa-user"></i> {{ usuario.name }} {{ usuario.lastname }}</span>
            <span class="canal_web"><i class="fas fa-globe-europe"></i> <a href="{{ usuario.urlWebSite }}">{{ usuario.urlWebSite }}</a></span>
            {% if not app.user is empty %}
                {% if app.user.id == usuario.id %}
                    <a href="{{ path('datos_personales') }}" class="btn btn-warning"><i class="fas fa-cog"></i> Datos Personales</a>
                    {% else %}
                        {% if usuario.publisher %}
                            {% if suscrito %}
                                <a href="{{ path('eliminar_suscripcion_canal',{'id': usuario.id}) }}" class="btn btn-warning boton_save_video"><i class="fas fa-plus"></i> Suscrito</a>
                            {% else %}
                                <a href="{{ path('suscribirse_canal',{'id': usuario.id}) }}" class="btn btn-info boton_save_video"><i class="fas fa-plus"></i> Suscribirse</a>
                            {% endif %}
                        {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Información</a></li>
            {% if usuario.publisher %}<li><a href="#tabs-2">Videos</a></li>{% endif %}
            {% if usuario.id == app.user.id %}<li><a href="#tabs-3">Guardados</a></li>{% endif %}
        </ul>
        <div id="tabs-1">
            <div class="canal_informacion">
                <span class="info_canal canal_nombre_apellidos"><i class="fas fa-user"></i> <span class="canal_etiqueta">Nombre y Apellidos:</span> {{ usuario.name }} {{ usuario.lastname }}</span>
                <span class="info_canal canal_correo"><i class="fas fa-envelope"></i> <span class="canal_etiqueta">Correo:</span> {{ usuario.email }}</span>
                {% if is_granted('ROLE_ADMIN') %}<span class="info_canal canal_telefono"><i class="fas fa-phone"></i> <span class="canal_etiqueta">Teléfono:</span> {{ usuario.phone }}</span>{% endif %}
                <span class="info_canal canal_fecha"><i class="fas fa-calendar"></i> <span class="canal_etiqueta">Fecha de Nacimiento:</span> {{ usuario.birthday | date('H:m:s - d/m/Y')  }}</span>
                <span class="info_canal canal_website"><i class="fas fa-globe-europe"></i> <span class="canal_etiqueta">Sitio Web:</span> <a href="{{ usuario.urlWebSite }}">{{ usuario.urlWebSite }}</a></span>
                <span class="info_canal canal_descripcion">{{ usuario.description }}</span>
            </div>
        </div>
        {% if usuario.publisher %}
            <div id="tabs-2">
                {% if usuario.videos is empty %}
                    <div class="no_videos">
                    <span >!Este canal no dispone de videos!</span>
                    </div>
                {% else %}
                    {% for video in usuario.videos %}
                        <div class="panel_video">
                            {% if app.user %}
                                {% if app.user.name == usuario.name %}
                                    <div class="editar_video">
                                        <a href="{{ path('video_modificar', {'id': video.id}) }}" class="btn btn-warning"><i class="fas fa-tools"></i></a>
                                    </div>
                                {% endif %}
                            {% endif %}

                            <a href="{{ path('visualizar_video',{'id': video.id}) }}" class="enlace_video">
                                <div class="imagen_video">
                                    <img src="{{ video.miniature }}" alt="Miniatura Video" class="miniatura_lista"/>
                                </div>
                                <div class="descripcion_video">
                                    <span class="titulo_video">{{ video.title }}</span>
                                    <span class="video_descripcion">{{ video.description }}</span>
                                    <span class="info_video fecha_video"><span class="etiqueta_info">Fecha:</span> {{ video.date | date('H:m:s - d/m/Y') }}</span>
                                    <span class="info_video reproducciones_video"><span class="etiqueta_info">Visualizaciones:</span> {{ video.reproductions }}</span>
                                    <span class="info_video categoria_video"><span class="etiqueta_info">Catergoría:</span> {{ video.category }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        {% if usuario.id == app.user.id %}
        <div id="tabs-3">
            <div class="panel_videos">
            {% for guardado in guardados %}
                <div class="panel_video">
                    <a href="{{ path('visualizar_video',{'id': guardado.video.id}) }}" class="enlace_video">
                        <div class="imagen_video">
                            <img src="{{ guardado.video.miniature }}" alt="Miniatura Video" class="miniatura_lista"/>
                        </div>
                        <div class="descripcion_video">
                            <span class="titulo_video">{{ guardado.video.title }}</span>
                            <span class="video_descripcion">{{ guardado.video.description }}</span>
                            <span class="info_video fecha_video"><span class="etiqueta_info">Fecha:</span> {{ guardado.video.date | date('H:m:s - d/m/Y') }}</span>
                            <span class="info_video reproducciones_video"><span class="etiqueta_info">Visualizaciones:</span> {{ guardado.video.reproductions }}</span>
                            <span class="info_video categoria_video"><span class="etiqueta_info">Catergoría:</span> {{ guardado.video.category }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

