{% extends 'layout.html.twig' %}

{% block title %} {{ usuario.login }} - DevVideos {% endblock %}

{% block content %}
    <div class="cabecera_canal">
        <img src="{{ usuario.avatar }}" alt="Avatar {{ usuario.login }}" />
        <h1>{{ usuario.login }}</h1>
        <span class="canal_nombre">{{ usuario.name }}</span>
        <span class="canal_apellidos">{{ usuario.lastname }}</span>
        <span class="canal_web">{{ usuario.urlWebSite }}</span>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Información</a></li>
            <li><a href="#tabs-2">Videos</a></li>
        </ul>
        <div id="tabs-1">
            <div class="canal_informacion">
                <span class="canal_nombre_apellidos"><span class="canal_etiqueta">Nombre y Apellidos: </span> {{ usuario.name }} {{ usuario.lastname }}</span>
                <span class="canal_correo"><span class="canal_etiqueta">Correo: </span> {{ usuario.email }}</span>
                {% if is_granted('ROLE_ADMIN') %}<span class="canal_telefono"><span class="canal_etiqueta">Teléfono: </span> {{ usuario.phone }}</span>{% endif %}
                <span class="canal_correo"><span class="canal_etiqueta">Correo: </span> {{ usuario.email }}</span>
                <span class="canal_fecha"><span class="canal_etiqueta">Fecha de Nacimiento: </span> {{ usuario.birthday | date('H:m:s - d/m/Y')  }}</span>
                <span class="canal_website"><span class="canal_etiqueta">Sitio Web: </span> {{ usuario.urlWebSite }}</span>
                <span class="canal_descripcion">{{ usuario.description }}</span>
            </div>
        </div>
        <div id="tabs-2">
                {% for video in usuario.videos %}
                    <div class="panel_video">
                        {% if app.user.id == usuario.id %}
                            <div class="editar_video">
                                <a href="{{ path('video_modificar', {'id': video.id}) }}" class="btn btn-warning"><i class="fas fa-tools"></i></a>
                            </div>
                        {% endif %}

                        <a href="{{ path('visualizar_video',{'id': video.id}) }}" class="enlace_video">
                            <div class="imagen_video">
                                <img src="{{ video.miniature }}" alt="Miniatura Video" class="miniatura_lista"/>
                            </div>
                            <div class="descripcion_video">
                                <span class="titulo_video">{{ video.title }}</span>
                                <span class="video_descripcion">{{ video.description }}</span>
                                <span class="info_video fecha_video"><span class="etiqueta_info">Fecha:</span> {{ video.date | date('H:m:s - d/m/Y') }}</span>
                                <span class="info_video reproducciones_video"><span class="etiqueta_info">Visualizaciones:</span> {{ video.reproductions }}</span>
                                <span class="info_video categoria_video"><span class="etiqueta_info">Catergoría:</span> {{ video.category }}</span>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            <!--MOSTRAR EN EL CASO DE QUE NO TENGA -->
                <span class="no_videos">!Este canal no dispone de videos!</span>
        </div>
    </div>
{% endblock %}

