{% extends 'layout.html.twig' %}

{% block title %}
    {% if not es_nueva %}
        <h1> Modificar Usuario - DevVideos </h1>
    {% else %}
        <h1> Nuevo Usuario - DevVideos </h1>
{% endif %}{% endblock %}

{% block content %}
    {% if not es_nueva %}
        <h1>Modificar Usuario</h1>
    {% else %}
        <h1>Registrarse</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('usuarios_listar') }}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Volver</a>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Guardar Cambios</button>
    {% if not es_nueva %}<a href="{{ path('usuario_eliminar', {'id': usuario.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar Usuario</a>{% endif %}
    {{ form_end(form) }}

{% endblock %}