{% extends 'layout.html.twig' %}

{% block content %}

<h1>Listar Usuarios <a href="{{ path('usuario_nuevo') }}" class="btn btn-success"><i class="fas fa-plus"></i> Añadir</a></h1></h1>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDOS</th>
                    <th>EMAIL</th>
                    <th>TELEFONO</th>
                    <th>FECHA NACIMIENTO</th>
                    <th>LOGIN</th>
                    <th>PASSWORD</th>
                    <th>AVATAR</th>
                    <th>URL</th>
                    <th>DESCRIPCION</th>
                    <th>PUBLICADOR</th>
                    <th>ADMIN</th>
                </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td><a href="{{ path('usuario_modificar', {'id': usuario.id}) }}">{{ usuario.id }}</a></td>
                    <td>{{ usuario.name }}</td>
                    <td>{{ usuario.lastname }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.phone }}</td>
                    <td>{{ usuario.birthday | date('d/m/Y') }}</td>
                    <td>{{ usuario.login }}</td>
                    <td>{{ usuario.password }}</td>
                    <td><img src='{{ usuario.avatar  }}' alt="FOTO AVATAR" class="avatar_lista"></td>
                    <td>{{ usuario.urlwebsite }}</td>
                    <td>{{ usuario.description }}</td>
                    <td>{{ usuario.publisher }}</td>
                    <td>{{ usuario.admin }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}