{% extends 'layout.html.twig' %}

{%  block title %} Usuarios - DevVideos {% endblock %}

{% block content %}

<h1 class="titulo_seccion">Usuarios </h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="pnlAccionNueva">
            <a href="{{ path('usuario_nuevo') }}" class="btn btn-success"><i class="fas fa-plus"></i> Añadir</a>
            <span class="ayuda"> Cree un nuevo usuario con el que acceder a la aplicación.</span>
        </div>
    {% endif %}
<div class="panel_usuarios">
            {% for usuario in usuarios %}

                <div class="panel_usuario">
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="editar_usuario">
                            <a href="{{ path('usuario_modificar', {'id': usuario.id}) }}" class="btn btn-warning"><i class="fas fa-tools"></i></a>
                        </div>
                    {% endif %}
                    <a href="{{ path('canal_usuario',{'id': usuario.id}) }}" class="enlace_usuario">
                        <div class="avatar_usuario">
                            <img src="{{ usuario.avatar }}" alt="Foto {{ usuario.login }}" class="avatar_usuario"/>
                        </div>
                        <div class="descripcion_usuario">
                            <span class="nombre_usuario">{{ usuario.login }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
</div>
{% endblock %}