{% extends 'layout.html.twig' %}



        {% block title %}
            {% if not es_nueva %}
                Modificar Historial - DevVideos
            {% else %}
                Nuevo Historial - DevVideos
            {% endif %}
        {% endblock %}

{% block content %}
    {% if not es_nueva %}
        <h1>Modificar Historial</h1>
    {% else %}
        <h1>Nuevo Historial</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('historiales_listar') }}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Volver</a>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Guardar Cambios</button>
    {% if not es_nueva %}<a href="{{ path('historial_eliminar', {'id': historial.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar Historial</a>{% endif %}
    {{ form_end(form) }}

{% endblock %}