{% extends 'layout.html.twig' %}

{% block title %}
    {% if not es_nueva %}
        Modificar Video - DevVideos
    {% else %}
        Nuevo Video - DevVideos
    {% endif %}{% endblock %}

{% block content %}
    {% if not es_nueva %}
        <h1 class="titulo_seccion">Modificar Video</h1>
    {% else %}
        <h1 class="titulo_seccion">Nuevo Video</h1>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('videos_listar') }}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Volver</a>
    <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Guardar Cambios</button>
    {% if not es_nueva %}<a href="{{ path('video_eliminar', {'id': video.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar Video</a>{% endif %}
    {{ form_end(form) }}

{% endblock %}