{% extends 'layout.html.twig' %}

{% block content %}

    <h1>Listar videos</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>RUTA</th>
            <th>TITULO</th>
            <th>DESCRIPCION</th>
            <th>FECHA</th>
            <th>REPRODUCCIONES</th>
            <th>MINIATURA</th>
            <th>CREADOR</th>
            <th>CATEGORIA</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.id }}</td>
                <td>{{ video.route }}</td>
                <td>{{ video.title }}</td>
                <td>{{ video.description }}</td>
                <td>{{ video.date | date('H:m:s | d/m/Y') }}</td>
                <td>{{ video.reproductions }}</td>
                <td><img src="{{ video.miniature }}" alt="MINIATURA" class="miniatura_lista"></td>
                <td>{{ video.creator }}</td>
                <td>{{ video.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}