{% extends 'layout.html.twig' %}

{% block title %} {{ video.title }} - DevVideos{% endblock %}

{% block content %}
    <h1 class="titulo_seccion">{{ video.title }}</h1>

    <iframe id="videoframe" src="{{ video.route }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="pantalla_video"></iframe>
    <div class="informacion_video">
        <span class="descripcion_visualizar_video">{{ video.description }}</span>
        <div class="otra_informacion_visualizar">
            <span class="fecha_visualizar_video"><span class="etiqueta_info">Fecha: </span> {{ video.date | date('H:m:s - d/m/Y') }}</span>
            <span class="visualizaciones_visualizar_video"><span class="etiqueta_info">Visualizaciones: </span> {{ video.reproductions }}</span>
        </div>
        <span class="categoria_visualizar_video"><span class="etiqueta_info">Categoria: </span> {{ video.category }}</span>
    </div>
    <a href="" class="creador_video">
        <img src="{{ video.creator.avatar }}" alt="Avatar" class="avatar_canal"/>
        <span class="nombre_canal_video">{{ video.creator.login }}</span>
    </a>

{% endblock %}